:host {
  .tabs {
    display: flex;
    box-shadow: 0 1px 1px var(--color-border-default);

    .tab {
      padding: 10px 15px;
      text-decoration: none;
      color: var(--color-link);

      &.active {
        color: var(--color-link-active);
        border-bottom: 3px solid var(--color-primary);
        font-weight: 500;
      }
      &:hover {
        background-color: var(--color-link-hover-bg);
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
}
