:host {
  height: 100%;
  flex: 1;

  .error-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 100%;
    border: 1px solid #dcc;
    border-radius: 4px;
  }
}
