:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    button {
      height: 32px;
    }
  }
}
