<div class="page-header">
  <div>
    <h1>Users</h1>
    <p>Manage users and their access.</p>
  </div>
  @if (canManageUsers) {
    <button
      class="btn btn-primary"
      [disabled]="userState().status === 'loading'"
      (click)="onAddUser()"
    >
      + Add User
    </button>
  }
</div>
@switch (userState().status) {
  @case ('loading') {
    <app-loading-state></app-loading-state>
  }
  @case ('error') {
    <app-error-state
      errorTitle="Unable to load users list"
      errorDescription="Please try again later."
    ></app-error-state>
  }
  @default {
    @let users = userState().data?.entities ?? [];

    <app-users-table
      [users]="users"
      [pageNumber]="userState().data?.pageNumber ?? query().pageNumber"
      [pageSize]="query().pageSize"
      [sortBy]="query().sortBy"
      [sortDirection]="query().sortDirection"
      [total]="userState().data?.total || 0"
      [loading]="loading()"
      [canManageUsers]="canManageUsers"
      (pageChange)="setPageNumber($event)"
      (sortChange)="setSort($event)"
      (addUser)="onAddUser()"
      (editUser)="onEditUser($event)"
      (deleteUser)="onDeleteUser($event)"
    ></app-users-table>
  }
}
