:host {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding: 10px 0;

  .btn-pagination {
    font-weight: bold;
    &:hover:not(:disabled) {
      background: var(--color-bg-hover);
    }
  }
  .page-info {
    margin: 0 10px;
  }
}
