@switch (permissionsSate().status) {
  @case ('loading') {
    <app-loading-state></app-loading-state>
  }
  @case ('error') {
    <app-error-state
      errorTitle="Unable to load permissions"
      errorDescription="Please try again later."
      i18n-errorTitle="@@admin.permissions.page.error.title"
      i18n-errorDescription="@@admin.permissions.page.error.description"
    ></app-error-state>
  }
  @default {
    @if (permissions().length) {
      <app-permissions-table [permissions]="permissions()"></app-permissions-table>
    } @else {
      <app-empty-state
        heading="No permissions available"
        description="Permissions control access to features across the application. System permissions will appear here once available."
        i18n-heading="@@admin.permissions.page.empty.heading"
        i18n-description="@@admin.permissions.page.empty.description"
      ></app-empty-state>
    }
  }
}
