@switch (roleState().status) {
  @case ('loading') {
    <div>Roles laoding...</div>
  }
  @case ('error') {
    <div>Something went wrong...</div>
  }
  @default {
    @if (roles().length) {
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Code</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          @for (role of roles(); track role) {
            <tr>
              <td>{{ role.name }}</td>
              <td>{{ role.code }}</td>
              <td>{{ role.description }}</td>
            </tr>
          }
        </tbody>
      </table>
    }
  }
}

@if (roleState().status === 'loading') {
  <div>Roles loading</div>
}
