:host {
  .badge {
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: 500;

    &-success {
      background: var(--color-bg-success-soft);
      color: var(--color-success-text);
    }

    &-neutral {
      background: var(--color-bg-neutral-soft);
      color: var(--color-link);
    }

    &-warning {
      background: var(--color-bg-warning-soft);
      color: var(--color-warning-text);
    }

    &-info {
      background: var(--color-bg-info-soft);
      color: var(--color-info-text);
    }

    &-danger {
      background: var(--color-bg-danger);
      color: var(--color-danger-text);
    }
  }
}
