<div class="page-header">
  <h1>{{ isEdit() ? 'Edit User' : 'Create User' }}</h1>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="controls">
    <label>Name:</label>
    <input type="text" formControlName="name" />
  </div>
  <div class="controls">
    <label>Email:</label>
    <input type="text" formControlName="email" />
  </div>
  <div class="controls">
    <label>Role:</label>
    <select formControlName="role">
      <option value="USER">USER</option>
      <option value="SUPERVISOR">SUPERVISOR</option>
      <option value="ADMIN">ADMIN</option>
    </select>
  </div>
  <div class="controls">
    <label>Status:</label>
    <select formControlName="status">
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
    </select>
  </div>

  <div class="actions">
    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Save</button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  </div>
</form>
