:host {
  display: flex;
  flex-direction: column;
  gap: 20px;

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #dcc;
    border-radius: 6px;
    padding: 20px;

    .controls {
      display: flex;
      gap: 15px;

      label {
        width: 50px;
      }

      input,
      select {
        flex: 1;
        height: 32px;
        border-radius: 4px;
        border: 1px solid var(--color-border-default);
      }
    }
    .actions {
      display: flex;
      gap: 15px;
    }
  }
}
