<div class="data-table-wrapper">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <!-- <th>Actions</th> -->
      </tr>
    </thead>
    <tbody>
      @for (permission of permissions; track permission) {
        <tr>
          <td>{{ permission.code | permissionLabel }}</td>
          <td>{{ permission.code }}</td>
          <td>{{ permission.description }}</td>
          <!-- <td class="actions">
          <button class="btn btn-ghost" type="button" title="Edit role" aria-label="Edit role">
            ✏️
          </button>
          <button class="btn btn-ghost" type="button" title="Delete role" aria-label="Delete role">
            🗑
          </button>
        </td> -->
        </tr>
      }
    </tbody>
  </table>
</div>
