<div class="data-table-wrapper">
  <table aria-label="Permissions list" i18n-aria-label="@@admin.permissions.table.aria.label">
    <thead>
      <tr>
        <th scope="col" i18n="@@admin.permissions.table.name">Name</th>
        <th scope="col" i18n="@@admin.permissions.table.code">Code</th>
        <th scope="col" i18n="@@admin.permissions.table.description">Description</th>
      </tr>
    </thead>
    <tbody>
      @for (permission of permissions; track permission) {
        <tr>
          <td>{{ permission.code | permissionLabel }}</td>
          <td>{{ permission.code }}</td>
          <td>{{ permission.description }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
