/* You can add global styles to this file, and also import other style files */
@use './styles/colors';
@use './styles/fonts';
@use './styles/typography';
@use './styles/buttons';
@use './styles/toast';
@use './styles/table';

html,
body {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}
