:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border: 1px solid var(--color-border-default);
  border-radius: 4px;
  overflow: hidden;

  .loading {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .sort {
    button {
      background: none;
      border: 0;
      color: inherit;
      font-weight: inherit;
    }
  }
}
