:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;

  ul {
    padding: 0 1rem;
    li {
      list-style-type: none;
    }
  }
  .role-page-details {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 20px;
    border: 1px solid var(--color-border-muted);
    border-radius: 6px;
  }
  .role-metadata {
    display: flex;
    gap: 12px;
  }
  .label {
    min-width: 70px;
    white-space: nowrap;
    color: var(--color-text-muted);
    font-weight: 500;
  }
  .role-code {
    font-weight: 600;
  }
  .role-type {
    padding: 2px 8px;
    border-radius: 12px;
    background-color: var(--color-bg-role-system);

    &.custom {
      background-color: var(--color-bg-role-custom);
    }
  }
  .role-permissions {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 10px;

    .label {
      box-shadow: 0 0.5px 0.5px var(--color-border-muted);
      padding-bottom: 10px;
    }

    .value {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }

    h3 {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  .check {
    color: var(--color-primary);
  }
  .cancel {
    align-self: flex-start;
  }
  .no-permissions {
    font-weight: 600;
  }
}
